<h1><%= @user.email %></h1>

<% if @user.notes.any? %>
  <ul>
    <% @user.notes.each do |note| %>
      <li><%= link_to note.title, note_path(note) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No notes found.</p>
<% end %>

<% if user_signed_in? %>
      <li><%= link_to 'My Profile', user_path(current_user) %></li>
      <%end%>