<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Shared Note</h2>
    <p>Check out this note:</p>
    <p>Title: <%= @note.title %></p>
    <p>Body: <%= @note.body %></p>
  </body>
</html>
