/* Sticky Footer */
footer {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  background-color: #333;
  color: #fff;
  font-family: "GFS Didot", serif;
  padding: 20px;
  max-height: 250px;
}

/* Form Control */
input.form-control {
  width: 50%;
}

/* Footer Styling */
.footer {
  background-color: #262626;
  color: #fff;
  padding: 20px;
}

.footer h3 {
  font-size: 20px;
}

.footer p {
  font-size: 14px;
}

.footer ul {
  list-style: none;
}

.footer li {
  font-size: 14px;
  line-height: 1.5;
}

.footer li i {
  margin-right: 10px;
}

.footer-about,
.footer-contact-us {
  margin: 10px;
}

.signup-email-form {
  font-size: 15px;
}

.button-subscribe {
  color: black;
}
